name: WakaTime Stats

on:
  schedule:
    - cron: "0 * * * *"  # Run hourly
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_LANGUAGE: "true"
          SHOW_OS: "false"
          SHOW_PROJECTS: "true"
          SHOW_EDITORS: "true"
          COMMIT_MESSAGE: "chore: update WakaTime stats"
